/* google font  */
/* second way to add font in google */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
   */
/* first way to add google font  */
* {

    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header section  */
header {
    background: rgba(255, 144, 14, 0.10);
    width: 100%
        /* padding: 50px 140px; */
}

/* nav section  */
.section-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
    color: #131313;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner section  */
.banner-contain {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    font-size: 4rem;
    columns: #131313;
}

.banner-description {
    color: #727272;
}

/* .banner> img{
    margin: 20px;
    width: 100%;
} */
.banner-img {
    width: 80%;

    margin: 0 auto;
}

.banner-img img {
    width: 100%;
    height: 340px;
    margin-top: 25px;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
}

.text-light-gray {
    color: #727272;
}






/* main style  */
main {
    margin: 70px auto;
}

/* teams section  */


.teams-contaner {
    display: flex;
    align-items: center;
    margin: 20px;

}

/* hatf of 100%  */
.teams-contaner div {
    width: 50%;

}

.teams-img-contaner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.teams-img-contaner img {
    width: 98%;

}

.teams-title {
    font-size: 45px;
}

.quick {
    color: #727272;
    font-weight: 500px;
}

.of {
    color: #131313;
}

.feature {
    color: #FF900E;
    font-weight: 700px;
}

.teams-contant {
    margin-top: 20px;
    /* justify-content: center; */
    /* justify-items: center; */

}
/* facts section  */
/* .facts{
    /* display: flex; */
    /* justify-content: space-around; */
 
.facts .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-size: 2.8rem;
    padding: 3px 2px;
    margin-top: 50px;
}
.facts .card-stats{
    font-size: 2.8rem;
    color: #424242;
}
.facts .card-title{
font-weight: 600px;
font-size: 1.25rem;
}
.card-2{
    display: flex;
    justify-content: space-around;
}
/* featuresfeaturesfeaturesfeatures */
.features{
    display: flex;
    margin-top: 100px;
    gap: 100px;
}
.features-img{
    width: 85%;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    margin-left: -30px;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0 ;
}
.ten-years-badge p{
    font-size: 1.5rem;
}










/* footer section  */
.footer-end{
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    margin: 0 45px;
}
.fed{
    color: #424242;
text-align: center;
font-size: 20px;
font-weight: 400;
}
/* sponsors */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.sponsors-img-container img{
    width: 165px;
}



/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-contaner,
    .features,
    .card-2, .sponsors-img-container {
        flex-direction: column;
    }
    .features-img img{
        width: 20%;
        margin-left: 0;
    }
    .ten-years-badge{
        position: static;
    }
    .teams-img-contaner {
        grid-template-columns: 1fr;
    }
    .teams-contant, .card-2{
        padding-left: 20px;
        padding-right: 20px;
    }


}

/* tablet or medium device */
@media screen and ((min-width: 576px) and (max-width:960px)) {
    /* header{
        padding: 50px;
    } */
    nav, .teams-contaner, .card-2, .sponsors-img-container{
        flex-direction: column;
    }

}